body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

section {
    padding: 2em;
    border-bottom: 1px solid #ddd;
}

#about img{
    max-width: 150px;
    border-radius: 50%;
}

#skills ul{
    list-style: none;
    padding: 0;
}

#skills li{
    background-color: lightgrey;
    margin: 0.5em 0;
    padding: 0.5rem;
    border-radius: 5px;
}

.project1 , .project2 {
    border: 1px solid lightgray;
    padding: 1em;
    margin-bottom: 1em;
}

.project1 span {
    color: red;
}

.project2 span {
    color: #3bc4a1;
}

.project1 img, .project2 img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

#contact p {
    margin: 0.5rem 0;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: lightgray;
}